name: Run blutter-termux

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3 \
            python3-pip \
            git \
            libicu-dev \
            libcapstone-dev \
            libfmt-dev

          pip3 install requests pyelftools

      - name: Run blutter-termux
        run: |
          python3 blutter.py --help

      - name: Upload script as artifact
        uses: actions/upload-artifact@v5
        with:
          name: blutter-termux-script
          path: .